<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Recharge checkout</title>

    <link href="./main.css" rel="stylesheet" />
  </head>
  <body>
    <section class="banner">
      <div class="container">
        <img
          class="banner__logo"
          src="./img/logo.png"
          alt="Skylar Body perfumes"
        />
      </div>
    </section>

    <section class="cart">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="products products--mobile">
              <div class="products__hgroup">
                <h1 class="products__heading">Your Cart</h1>
                <div class="products__hide">Hide</div>
              </div>

              <div class="product">
                <div class="product__img">
                  <img src="http://via.placeholder.com/150x150" alt="" />
                </div>
                <div class="product__details">
                  <div class="product__title">Monthly Scent Club</div>
                  <div class="product__option">Wild Child / 1.5 fl oz</div>
                  <div class="product__frequency">Every month</div>
                </div>
                <div class="product__price">
                  <p>$39.99 / month</p>
                </div>
              </div>

              <div class="product">
                <div class="product__img">
                  <img src="http://via.placeholder.com/150x150" alt="" />
                </div>
                <div class="product__details">
                  <div class="product__title">Monthly Scent Club</div>
                  <div class="product__option">Wild Child / 1.5 fl oz</div>
                  <div class="product__frequency">Every 3 Months</div>
                </div>
                <div class="product__price">
                  <p>$39.99 / month</p>
                </div>
              </div>
            </div>

            <div class="customer">
              <a class="back back--desktop" href="https://skylar.com/cart">
                <span class="back__chevron"></span>Return to Cart
              </a>

              <h3 class="customer__heading">Customer information</h3>
              <h4 class="customer__subheading">Logged in as</h4>
              <h5 class="customer__email">becky@email.com</h5>
              <p class="customer__logout">
                Not you? Sign into a different account
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel">
              <div class="panel__heading">Order Summary</div>

              <div class="products">
                <div class="product">
                  <div class="product__img">
                    <img src="http://via.placeholder.com/150x150" alt="" />
                  </div>
                  <div class="product__details">
                    <div class="product__title">Monthly Scent Club</div>
                    <div class="product__option">Wild Child / 1.5 fl oz</div>
                    <div class="product__frequency">Every month</div>
                  </div>
                  <div class="product__price">
                    <p>$39.99 / month</p>
                  </div>
                </div>

                <div class="product">
                  <div class="product__img">
                    <img src="http://via.placeholder.com/150x150" alt="" />
                  </div>
                  <div class="product__details">
                    <div class="product__title">Monthly Scent Club</div>
                    <div class="product__option">Wild Child / 1.5 fl oz</div>
                    <div class="product__frequency">Every 3 Months</div>
                  </div>
                  <div class="product__price">
                    <p>$39.99 / month</p>
                  </div>
                </div>
              </div>

              <div class="coupon">
                <div class="input-group no-gutter">
                  <div class="input input--2">
                    <input
                      class="coupon__input"
                      type="text"
                      placeholder="Discount"
                      name="discount_code"
                    />
                  </div>
                  <div class="input">
                    <button class="coupon__submit" type="submit">APPLY</button>
                  </div>
                </div>
              </div>

              <div class="subtotals">
                <li class="subtotals__cost">
                  <span>SUBTOTAL</span><span>$39.99</span>
                </li>
                <li class="subtotals__cost">
                  <span>SHIPPING</span><span>-</span>
                </li>
                <li class="subtotals__cost">
                  <span>TAXES</span><span>-</span>
                </li>
              </div>

              <div class="total">
                <span class="total__label">TOTAL</span>
                <span class="total__content">$39.99</span>
              </div>
            </div>

            <button class="submit submit--mobile" type="submit">
              Continue
            </button>

            <a href="https://skylar.com/cart" class="back back--mobile">
              <span class="back__chevron"></span>Return to Cart
            </p>
          </div>
        </div>
      </div>
    </section>


    
    <div class="footer">
      <div class="container">
        <p>All rights reserved &copy; 2019 Skylar</p>
        <a href="https://skylar.zendesk.com/hc/en-us#360000472694"
          >Refund policy</a
        >
        <a href="https://skylar.com/pages/privacy-policy">Privacy policy</a>
        <a href="https://skylar.com/pages/terms-of-use">Terms of service</a>
      </div>
    </div>

    <script src="./step2.js"></script>
  </body>
</html>
