@font-face {
  font-family: "Sofia Pro";
  src: url("https://cdn.shopify.com/s/files/1/1445/2216/files/SofiaPro-Bold.woff2?1713589244520990682")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/1445/2216/files/SofiaPro-Bold.woff?1713589244520990682")
      format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("https://cdn.shopify.com/s/files/1/1445/2216/files/SofiaProRegular.woff2?12640048936920340724")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/1445/2216/files/SofiaProRegular.woff?12640048936920340724")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: url("https://cdn.shopify.com/s/files/1/1445/2216/files/SofiaPro-Light.woff2?12640048936920340724")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/1445/2216/files/SofiaPro-Light.woff?12640048936920340724")
      format("woff");
  font-weight: 300;
  font-style: normal;
}
