@import "reset";
@import "vars";
@import "mixins";
@import "type";
@import "global";
@import "grid";
@import "footer";

.back {
  font-size: 13px;
  font-weight: bold;
  line-height: 13px;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 600;
  color: $darkgrey;
  display: block;
  text-decoration: none;

  &--mobile {
    text-align: center;
    margin-top: 40px;
    @include mq($lg) {
      display: none;
    }
  }
  &--desktop {
    display: none;

    @include mq($lg) {
      display: block;
    }
  }

  &__chevron {
    margin-left: 2px;
    margin-right: 5px;

    &:before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      border-left: 2px solid $darkgrey;
      border-bottom: 2px solid $darkgrey;
      transform: rotate(45deg);
    }
  }
}

.cart {
  margin-bottom: 60px;

  @include mq($lg) {
    padding: 30px;
  }
}

.coupon {
  display: flex;
  padding: 30px 20px;
  border-bottom: 1px solid $grey;
}

.customer {
  margin-bottom: 60px;
  padding: 0 20px;

  @include mq($lg) {
    padding: 0;
  }
  &__heading {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.67px;
    line-height: 42px;
    margin-bottom: 30px;
  }
  &__subheading {
    font-size: 31px;
    font-weight: 300;
    letter-spacing: 0.37px;
    line-height: 32px;
    color: $darkgrey;
    margin-bottom: 38px;
  }
  &__email {
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 0.25px;
    line-height: 21px;
    color: $darkgrey;
    text-decoration: underline;
    margin-bottom: 30px;
  }
  &__logout {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1px;
    line-height: 14px;
    color: $darkgrey;
  }
}

.input {
  flex: 1;
  margin: 0 4px 8px;

  &--2 {
    flex: 2;
  }

  input,
  select,
  button {
    -webkit-appearance: none;
    width: 100%;
    flex: 1;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.04),
      0 2px 0 0 rgba(0, 0, 0, 0.02);
    color: $darkgrey;
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 22px;
    padding: 12px 15px;
    border-radius: 0;
    font-family: inherit;
    font-weight: 300;
  }

  button {
    background: #000;
    color: #fff;
    border-color: #000;
  }
}

.input-container {
  margin-left: -4px;
  margin-right: -4px;
}

.input-group {
  display: flex;
  width: 100%;

  &.no-gutter .input {
    margin: 0;
  }
}

.products {
  &__hgroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
  }
  &__heading {
    font-size: 31px;
    font-weight: 300;
    letter-spacing: 0.37px;
    line-height: 32px;
  }
  &__hide {
    font-size: 14px;
    letter-spacing: 0.1px;
    line-height: 14px;
    text-decoration: underline;
  }

  &--mobile {
    border-bottom: 1px solid $grey;
    display: block;
    margin-bottom: 30px;
    @include mq($lg) {
      display: none;
    }

    .product {
      border-bottom: 0;
    }
  }
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid $grey;

  &__img {
    flex: 0 0 80px;

    img {
      height: 80px;
      width: 80px;
      object-fit: cover;
      display: block;
    }
  }
  &__details {
    flex: 1;
    padding: 0 20px;
  }
  &__title {
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    margin-bottom: 3px;
  }
  &__option,
  &__frequency,
  &__price {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.09px;
    line-height: 22px;
  }
}

.shipping {
  margin-bottom: 60px;
  padding: 0 20px;

  @include mq($lg) {
    padding: 0;
  }

  &__heading {
    font-size: 31px;
    font-weight: 300;
    letter-spacing: 0.37px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__tc-label {
    color: $darkgrey;
    font-size: 14px;
    a {
      color: inherit;
    }
  }
}

.subtotals {
  padding: 20px;

  &__cost {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: bold;
    line-height: 13px;
    padding: 10px 0;
  }
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  padding: 30px 20px;
  border-top: 1px solid $grey;

  &__label {
  }
  &__content {
  }
}

.panel {
  background: #fff;
  background-color: #ffffff;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.04);

  @include mq($lg) {
    border: 1px solid #e5e5e5;
  }

  &__heading {
    font-size: 31px;
    font-weight: 300;
    letter-spacing: 0.37px;
    line-height: 32px;
    padding: 30px 20px 15px;
  }
}

.submit {
  display: inline-block;
  border: 1px solid #000000;
  color: #ffffff;
  font-family: "Sofia Pro";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 16px;
  text-align: center;
  background-color: #000000;
  height: 50px;
  min-width: 200px;
  text-transform: uppercase;

  &--desktop {
    display: none;

    @include mq($lg) {
      display: block;
    }
  }

  &--mobile {
    width: calc(100% - 40px);
    margin: 35px auto 0;
    display: block;

    @include mq($lg) {
      display: none;
    }
  }
}
